{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col" align="center">
        <br><br>
        <h1>Admin Panel</h1>
        <br><br>
    </div>
</div>
{% if tg_form %}
<div class="row gy-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2>Truth Graph</h2>
            </div>
            <div class="card-body">
                <p>Please note that many of these buttons initiate long processes performed asynchronously and manipulate the WKG. Ensure no others are accessing this graph.</p>
                {% if tg_string %}
                <p>{{tg_string}}</p>
                {% endif %}
                <form action="" method="post" enctype="multipart/form-data">
                    {{ tg_form.hidden_tag() }}
                    <div class="row gy-5">
                        <div class="col">
                            {{ tg_form.tg_save(class="btn btn-secondary") }}
                        </div>
                        <div class="col">
                            {{ tg_form.tg_reseed(class="btn btn-secondary") }}
                        </div>
                        <div class="col">
                            {{ tg_form.tg_expand(class="btn btn-secondary") }}
                        </div>
                        <div class="col">
                            {{ tg_form.tg_see_expand(class="btn btn-secondary") }}
                        </div>
                        <div class="col">
                            {{ tg_form.files() }}
                            <br>
                            {{ tg_form.tg_restore(class="btn btn-secondary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% if drop_projection %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Drop Projections</h2>
            </div>
            <div class="card-body">
                <div id="drop_projection">
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ drop_projection.hidden_tag() }}
                        <div class="form-group">
                            {{ drop_projection.graphs.label(for="graphs") }}
                            {{ drop_projection.graphs(class="form-control") }}
                            <br>
                        </div>
                        {{ drop_projection.submit(class="btn btn-secondary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if design_form %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Remove Designs</h2>
            </div>
            <div class="card-body">
                <div id="drop_projection">
                    <form action="" method="post" enctype="multipart/form-data">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Graph Name</th>
                                    <th scope="col">Owner</th>
                                    <th scope="col">Stage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in design_form.d_forms %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{field.label}}</td>
                                    <td>{{field.description}}</td>
                                    <td>{{field}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ design_form.submit_rda(class="btn btn-secondary") }}
                        <br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if user_form %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Remove Users</h2>
            </div>
            <div class="card-body">
                <div id="drop_projection">
                    <form action="" method="post" enctype="multipart/form-data">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Stage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for field in user_form.u_forms %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{field.label}}</td>
                                    <td>{{field}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ user_form.submit_rua(class="btn btn-secondary") }}
                        <br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if expand_result %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="staticBackdropLabel">Expansion breakdown</h2>
                </div>
                <div class="modal-body">
                    <div id="accordion">
                        {% for name,expansion in expand_result.items() %}
                        <div class="card">
                            <div class="card-header">
                                <a class="btn" data-bs-toggle="collapse" href="#collapse{{loop.index}}">
                                    {{name}} - Node Size: {{expansion["node"]["total"]}}
                                    (+{{expansion["node"]["increase"]}}) - Edge Size: {{expansion["edge"]["total"]}}
                                    (+{{expansion["edge"]["increase"]}})
                                </a>
                            </div>
                            <div id="collapse{{loop.index}}" class="collapse show" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Label</th>
                                                <th scope="col">Node Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for label,count in expansion["node"]["values"].items() %}
                                            <tr>
                                                <td>{{label}}</td>
                                                <td>{{count["value"]}} (+{{count["increase"]}})</td>
                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Label</th>
                                                <th scope="col">Edge Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for label,count in expansion["edge"]["values"].items() %}
                                            <tr>
                                                <td>{{label}}</td>
                                                <td>{{count["value"]}} (+{{count["increase"]}})</td>
                                            </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br><br>
                    <form action="" method="post" enctype="multipart/form-data">
                        <a id="close" type="button" class="btn btn-light" href="{{ url_for('graph_admin') }}">Close</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br>
</div>
{% endblock %}