{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md" align="center">
        <h1>Canonicaliser</h1>
        <p>The canonicaliser will replace locally defined resources with canonical resources defined within the
            underlying knowledge graph.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col" align="center">
        {% if error_str%}
        <h5>
            <font color="red">ERROR: </font><br>{{error_str}}
        </h5>
        {% endif %}
        {% if err %}
        <h5>
            <font color="red">ERROR: </font><br>{{err}}
        </h5>
        {% endif %}
        {% if cg %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ cg.hidden_tag() }}
            <div class="form-group form-check">
                {{ cg.graphs(class="form-select") }}
                {% for error in cg.graphs.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ cg.run_mode(class="form-check-input") }}
                {{ cg.run_mode.label() }}
            </div>
            <div class="form-group form-check">
                {{ cg.submit(class="btn btn-primary") }}
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% if no_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">No Results</h2>
            </div>
            <div class="modal-body">
                <p>No changes made.</p>
                <form action="" method="post" enctype="multipart/form-data">
                    <a id="close" type="button" class="btn btn-light" href="{{ url_for('canonicalise') }}">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if no_match %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">No Results</h2>
            </div>
            <div class="modal-body">
                <p>No references found.</p>
                <form action="" method="post" enctype="multipart/form-data">
                    <a id="close" type="button" class="btn btn-light" href="{{ url_for('canonicalise') }}">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if s_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Canonical Changes</h2>
            </div>
            <div class="modal-body">
                <table class="table table-hover" style="word-break: break-all;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Old</th>
                            <th scope="col">New</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in s_changes.items() %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form action="" method="post" enctype="multipart/form-data">
                    <a id="close" type="button" class="btn btn-light" href="{{ url_for('canonicalise') }}">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if p_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Potential Changes</h2>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Old</th>
                                <th scope="col">New</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for field in p_changes.forms %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{field.label}}</td>
                                <td>
                                    <select name="{{field.label.text}}" class="form-select"
                                        aria-label="Default select example">
                                        {% for option in field.choices %}
                                        <option value="{{option[0]}}">{{option[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ p_changes.submit_semi_canonicaliser(class="btn btn-secondary") }}
                    {{ p_changes.close(class="btn btn-secondary") }}
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}