{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col-md" align="center">
        <h1>Enhancer</h1>
        <p>It is advised the design is passed through the canonicaliser before enhancement for the best results.</p>
    </div>
</div>
<br>
<div class="row">
    <div class="col" align="center">
        {% if error_str%}
        <h5>
            <font color="red">ERROR: </font><br>{{error_str}}
        </h5>
        {% endif %}
        {% if err %}
        <h5>
            <font color="red">ERROR: </font><br>{{err}}
        </h5>
        {% endif %}
        {% if run_e %}
        <form action="" method="post" enctype="multipart/form-data">
            {{ run_e.hidden_tag() }}
            <div class="form-group form-check">
                {{ run_e.graphs(class="form-select") }}
            </div>
            <div class="form-group">
                {{ run_e.automate(class="form-check-input") }}
                {{ run_e.automate.label() }}
            </div>
            <div class="form-group form-check">
                {{ run_e.submit(class="btn btn-primary") }}
            </div>
            <br><br>
        </form>
        {% endif %}
    </div>
</div>

{% if no_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">No new enhancements found.</h2>
            </div>
            <div class="modal-body">
                <p>We have not found any potential enhancements for this design, so no changes have been made.</p>
                <form action="" method="post" enctype="multipart/form-data">
                    <a id="close" type="button" class="btn btn-light" href="{{ url_for('enhancement') }}">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if s_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Changes</h2>
            </div>
            <div class="modal-body">
                <div id="accordion">
                    {% for enhancer,subjects in s_changes.items() %}
                    <div class="card">
                        <div class="card-header">
                            <a class="btn" data-bs-toggle="collapse" href="#collapse{{loop.index}}">
                                {{enhancer}}
                            </a>
                        </div>
                        <div id="collapse{{loop.index}}" class="collapse show" data-bs-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Subject</th>
                                            <th scope="col">Changes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subject,changes in subjects.items() %}
                                        <tr>
                                            <td>{{subject}}</td>
                                            <td>
                                                {% for change in changes %}
                                                {% if change is string %}
                                                <p>{{change}}</p>
                                                {% else %}
                                                {% for c in change %}
                                                <p>{{c}}</p>
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                                
                                        </tr>
                                        
                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br><br>
                <form action="" method="post" enctype="multipart/form-data">
                    <a id="close" type="button" class="btn btn-light" href="{{ url_for('enhancement') }}">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if p_changes %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">Potential Changes</h2>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <div id="accordion">
                        {% for enhancer in p_changes.forms %}
                        <div class="card">
                            <div class="card-header">
                                <a class="btn" data-bs-toggle="collapse" href="#collapse{{loop.index}}">
                                    {{enhancer.name}}
                                </a>
                            </div>
                            <div id="collapse{{loop.index}}" class="collapse show" data-bs-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Score</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Enable</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for enhancement in enhancer.enhancements %}
                                            {% for choice in enhancement.choices %}
                                            <tr>
                                                <td>{{choice.description}}</td>
                                                <td>{{choice.label}}</td>
                                                <td>{{choice}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br><br>
                    {{ p_changes.submit_enhancer(class="btn btn-secondary") }}
                    {{ p_changes.cancel_enhancer(class="btn btn-secondary") }}
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}